        :root {
            font-size: 62.5%;
            --rgb-green: rgb(9, 83, 90);
            --rgb-green-half: rgb(9, 83, 90, 0.5);
            --rgba-orange: rgba(255, 148, 0);
            --rgba-orange-half: rgba(255, 148, 0, 0.5);
            --rgb-white: rgb(238, 239, 240);
            --body-font: 'Poppins', sans-serif;
            --menu-font: 'Roboto', sans-serif;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            /* 
            font-family: 'Poppins', sans-serif;
            font-family: 'Roboto', sans-serif; 
            */
        }

        body {
            background-color: var(--rgb-white);
            width: 100vw;
        }

        .header-top {

            height: 50px;
            width: 100%;
            background-color: var(--rgb-green);
        }

        .header {
            position: sticky;
            /* background-image: url(/Users/nickcook/repos/central-alliance/assets/images/elevation-map-clipart-13.png); */
            /* background-image: url(https://www.pinclipart.com/picdir/big/382-3823909_abstract-lines-png-photos-abstract-lines-png-transparent.png); */
            background-size: cover;
            background-color: var(--rgb-green);
            background-blend-mode: multiply;
            background-position: center;
            display: flex;
            justify-content: space-evenly;
            top: 0px;
            height: fit-content;
            width: 100%;

        }

        .header-side-box {
            height: 10vw;

        }

        .header-side-box img {
            height: 8vw;
        }

        .nav-bar {
            display: flex;
            height: fit-content;
            align-self: flex-end;

        }

        .nav-bar ul {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: fit-content;
            gap: 15px;
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: var(--menu-font);
            font-size: 1.8rem;
            font-weight: 200;

        }

        /* .nav-bar ul li {
            position: relative;
        } */

        .nav-bar ul a {
            text-decoration: none;
            color: var(--rgb-white)
        }

        .nav-item {
            padding: 5px 10px;

        }

        .nav-item:hover {
            background-color: var(--rgba-orange);
        }

        .nav-item:hover .chevron-spin {
            transform: rotate(180deg);
            transition-property: transform;
            transition-duration: .5s;
        }

        .nav-sub {
            position: absolute;
            left: 0;
            height: 0;
            width: 0;
            background-color: var(--rgb-green-half);

            transition: height .5s;
            top: 35px;
        }

        .nav-sub * {
            visibility: hidden;
        }

        .nav-item:hover .nav-sub * {
            visibility: visible;
        }

        .nav-item:hover .nav-sub {
            width: 100%;
            height: 200px;
            transition: height .5s;
        }

        .header-wave-wrapper {
            position: relative;
            align-self: flex-start;
            z-index: -10;
        }

        .explainer-video-wrapper {
            margin-top: 50px;
            width: 100vw;

        }

        .explainer-video {
            width: 100%;

        }

        .custom-shape-divider-top-1659420986 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-top-1659420986 svg {
            position: relative;
            display: block;
            width: calc(152% + 1.3px);
            height: 46px;
        }

        .custom-shape-divider-top-1659420986 .shape-fill {
            fill: var(--rgb-green);
        }

        .body-section-top {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100vw;
            /* gap: 20px; */
            padding: 0 20px;
            padding-top: 250px;

        }

        .top-text-section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            padding-right: 20px;
            font-size: 2.2rem;
            font-family: var(--body-font);
            font-weight: 200;
            text-align: center;            
        }

        .section-top-image {
            width: 50%;
            border-radius: 10px;
            box-shadow: 1px 1px 20px var(--rgb-green);
        }
        .section-top-image img {
            width: 100%;
            object-fit: contain;
            border-radius: inherit;

            
        }

        .more-info-body {
            display: flex;
            justify-content: center;
            width: 100vw;
            flex-shrink: 0;
            padding: 50px 0;
        }
        
        .more-info-btn {
            padding: 20px 220px;
            background-color: var(--rgb-green);
            color: var(--rgb-white);
            font-size: 2rem;
            font-weight: 200;
            border-radius: 10px;
            border: none;
            box-shadow: 1px 1px 20px var(--rgb-green);
        }

        .more-info-btn:hover {
            background-color: var(--rgb-green-half);

        }

        .spacefiller {
            width: 100%;
            height: 1200px;
        }